<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131782185-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-131782185-1');
    </script>

    <meta charset="utf-8">
    <title>
        Rob Bransby - Web Developer & Consultant
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Rob Bransby is a Web Developer and Consultant providing Development services, Support and Consulting to enterprise, small business and solo practitioners and helping to bring their web and app ideas to life.">
    <meta name="keywords" content="sitefinity, sitecore, support, development, web, app, consulting, portfolio, blog">
    <meta name="author" content="Rob Bransby">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="css/vendor.min.css">
    <!-- Main Theme Styles-->
    <link rel="stylesheet" media="screen" href="css/styles.min.css">
    <!-- Modernizr-->
    <script src="js/modernizr.min.js"></script>
</head>
<!-- Body-->
<body>
    <!-- Header: Ghost-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="header-ghost navbar-floating navbar-sticky">
        <div class="container text-center">@*<a class="search-trigger" href="#fs-search" data-toggle="fullscreen-overlay"><i class="fe-icon-search"></i></a>*@<a class="menu-trigger" href="#fs-menu" data-toggle="fullscreen-overlay"><span>Menu</span><i class="fe-icon-menu"></i></a><a class="site-logo d-inline-block" href="index.html"><img src="img/logo.png" alt="CreateX" /></a></div>
    </header>
    <!-- Full Screen Search-->
    <div class="fs-overlay-wrapper" id="fs-search" style="background-image: url(img/fs-overlay-bg.png);">
        <span class="fs-overlay-close"><i class="fe-icon-x"></i></span>
        <div class="fs-overlay-inner">
            <div class="fs-overlay-content">
                <div class="container">
                    <form class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fe-icon-search"></i></div>
                        </div>
                        <input class="form-control" type="text" placeholder="Search site...">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Menu-->
    <div class="fs-overlay-wrapper" id="fs-menu" style="background-image: url(img/fs-overlay-bg.png);">
        <span class="fs-overlay-close"><i class="fe-icon-x"></i></span>
        <div class="fs-overlay-inner">
            <div class="fs-overlay-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="index.html">Home</a></li>
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="portfolio-style1-boxed.html">Portfolio</a></li>
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="blog-grid-rs.html">Blog</a></li>
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="shop-boxed-ls.html">Shop</a></li>
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="account-orders.html">Account</a></li>
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="about-us-v1.html">Pages</a></li>
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="components.html">Components</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 d-none d-sm-block pt-3">
                            <h6>Contacts</h6>
                            <ul class="list-icon mb-4 pb-2">
                                <li><i class="fe-icon-map-pin text-muted"></i>1260 Broadway, New York</li>
                                <li><i class="fe-icon-phone text-muted"></i>001 800 390 25</li>
                                <li><i class="fe-icon-mail text-muted"></i>info@example.com</li>
                            </ul>
                            <h6 class="pb-2">Social</h6><a class="social-btn sb-style-6 sb-twitter" href="https://twitter.com/robbransby"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-linkedin" href="https://www.linkedin.com/in/rob-bransby-467b16b"><i class="socicon-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="fe-icon-chevron-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <script src="js/scripts.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>